//backgrounds containers
.poke-list-bg {
  position: absolute;
  background-color: var(--red-primary);
  border-right: 6px solid var(--pink);
  width: 15%;
  height: 100%;
  z-index: 1;
}
.action-btn-bg-bottom {
  position: absolute;
  bottom: 0;
  content: "";
  background-color: var(--gray-third);
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 50%;
  z-index: 0;
}
.action-btn-bg-top {
  position: absolute;
  top: 0;
  content: "";
  background-color: var(--gray-primary);
  border: 2px solid var(--gray-secondary);
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}