//class for the button shinny
.shinny-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 10px 10px 0;
  border-radius: 100%;
  padding: 4px;
  background-color: var(--red-primary);
}
.info-btn {
  background-color: white;
  border: 4px solid var(--pink);
  width: 90%;
  height: 100%;
}
//used in the buttons in the footer.
.action-btn {
  min-height: 80%;
  justify-self: stretch;
  position: relative;
  border: 4px solid black;
  border-radius: 12px;
}
//breakpoints
@media (min-height: 800px) {
  .action-btn {
    min-height: 60%;
  }
}
@media (min-width: 800px) {
  .action-btn {
    justify-self: center;
    min-height: 70%;
    width: 80%;
  }
}