.shinny-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 10px 10px 0;
  border-radius: 100%;
  padding: 4px;
  background-color: var(--red-primary);
}
.sex-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px 0 10px 10px;
  border-radius: 100%;
  padding: 4px;
}