//Main container
.container {
  display: grid;
  place-items: center;
  height: 92.5vh;
}
//Components container
//container principal for pokemon name, pokemon img, and pokemon more info.
.pokemon-card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
//container for the pokemon img and shinne button.
.pokemon-container {
  position: relative;
  display: grid;
  place-items: center;
  height: 30vh;
  width: 80%;
  align-self: start;
  margin-top: 10px;
}
//container for the button and title.
.info-container {
  display: grid;
  place-items: center;
  background-color: var(--red-primary);
  border: 6px solid black;
  border-radius: 6px;
  align-self: start;
  max-height: 10vh;
  width: 80%;
}
//container for the list of pokemons.
.poke-list-container{
  position: relative;
  width: 80%;
  border: 6px solid black;
  border-radius: 6px;
  height: 30vh;
}
//container for the list names of the pokemons.
.list-name-container {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  max-height: 100%;
  overflow: scroll;
  z-index: 0;
}
//container for each pokemon name on the list.
.pokemon-name-container {
  width: 85%;
  float: right;
  padding: 3px 0 3px 5px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
//container for buttons in the footer
.footer-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 80%;
  height: 8vh;
  margin-bottom: 10px;
}
//Breackpoints