//Main container
.container {
  display: grid;
  place-items: center;
  height: 92.5vh;
}

//Components container
//container principal for pokemon name, pokemon img, and pokemon more info.
.pokemon-card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

//container for the pokemon img and shinne button.
.pokemon-container {
  position: relative;
  display: grid;
  place-items: center;
  height: 30vh;
  width: 80%;
  align-self: start;
  margin-top: 10px;
}

//container for the button and title.
.info-container {
  display: grid;
  place-items: center;
  background-color: var(--red-primary);
  border: 6px solid black;
  border-radius: 6px;
  align-self: start;
  max-height: 10vh;
  width: 80%;
  cursor: pointer;
}

.info-container:active {
  transform: scale(1.2);
  transition-duration: 0.1s;
}

//container for the list of pokemons.
.poke-list-container {
  position: relative;
  width: 80%;
  border: 6px solid black;
  border-radius: 6px;
  height: 30vh;
}

//container for the list names of the pokemons.
.list-name-container {
  cursor: pointer;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}

//container for each pokemon name on the list.
.pokemon-name-container {
  width: 85%;
  float: right;
  padding: 3px 0 3px 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.pokemon-name-container:active {
  transform: scale(1.4) translate(30px);
  transition-duration: 0.1s;
}

//container for buttons in the footer
.footer-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 80%;
  height: 8vh;
  margin-bottom: 10px;
}

//Breackpoints
@media (min-height: 800px) {
  .pokemon-name-container {
    gap: 6px;
  }
}

@media (min-width: 800px) {
  .container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .pokemon-card-container {
    place-self: stretch;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .poke-list-container {
    margin-top: 10px;
    place-self: stretch;
    height: 80vh;
    width: 95%;
  }
  .pokemon-name-container:hover {
    transform: scale(1.3) translate(50px);
    transition-duration: 0.5s;
  }
  .pokemon-name-container:active {
    transform: scale(1.4) translate(80px);
    transition-duration: 0.2s;
  }
  .info-container.align-self-end {
    align-self: center !important;
  }
  .info-container:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  .info-container:active {
    transform: scale(1.2);
    transition-duration: 0.1s;
  }
  .pokemon-container {
    height: 50vh;
  }
  .footer-container {
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (min-width: 1200px) {
  .pokemon-name-container:hover {
    transform: scale(1.3) translate(60px);
    transition-duration: 0.5s;
  }

  .pokemon-name-container:active {
    transform: scale(1.4) translate(80px);
    transition-duration: 0.2s;
  }
}

@media (min-width: 1500px) {
  .pokemon-name-container:hover {
    transform: scale(1.3) translate(70px);
    transition-duration: 0.5s;
  }
  .pokemon-name-container:active {
    transform: scale(1.4) translate(90px);
    transition-duration: 0.2s;
  }
}
@media (min-width: 1700px) {
  .pokemon-name-container:hover {
    transform: scale(1.3) translate(90px);
    transition-duration: 0.5s;
  }
  .pokemon-name-container:active {
    transform: scale(1.4) translate(120px);
    transition-duration: 0.2s;
  }
}