.shinny {
  font-size: 25px;
  color: #fafa5c;
}
.no-shinny {
  font-size: 25px;
  color: white;
}
.pokeball-icon {
  margin-left: 4px;
  max-width: 25px;
  z-index: 1;
}
.search-icon {
  color: white;
  padding: 4px;
  font-size: 25px;
  background-color: var(--pink);
}