.pokemon {
  cursor: pointer;
  position: absolute;
  min-width: 50%;
  max-height: 80%;
}
.pokemon:active {
  transform: scale(1.2);
  transition-duration: 0.1s;
}
@media (min-width: 800px) {
  .pokemon {
    min-width: 80%;
    max-height: 100%;
  }
  .pokemon:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  .pokemon:active {
    transform: scale(1.2);
    transition-duration: 0.1s;
  }
}
@media (min-width: 1200px) {
  .pokemon {
    min-width: 60%;
  }
}
@media (min-width: 1400px) {
  .pokemon {
    min-width: 50%;
  }
}