//Titles
//title in the header.
.title-main {
  color: white;
  font-size: 40px;
  text-shadow: 3px 1px black;
  letter-spacing: 2px;
  font-weight: 500;
}
//used for text in the pokemon list, pokemon name in the title and button for more info.
.pokemon-name {
  font-size: 40px;
  font-weight: 300;
  color: var(--gray-strong);
  text-shadow: 2px 1px var(--gray-secondary);
}
.input-text {
  padding: 4px;
  width: 100%;
  font-size: 35px;
  font-weight: 300;
  color: var(--gray-strong);
  text-shadow: 2px 1px var(--gray-secondary);
}
.pokemon-name.input {
  font-size: 30px;
  font-weight: 300;
  color: var(--gray-strong);
  text-shadow: 2px 1px var(--gray-secondary);
}
.pokemon-name-list {
  font-size: 30px;
  font-weight: 300;
  color: var(--gray-strong);
  text-shadow: 2px 1px var(--gray-secondary);
}
.pokemon-name-list:first-letter {
  text-transform: uppercase;
}
//used for buttons in the footer
.info {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-shadow: 2px 1px var(--gray-secondary);
  z-index: 1;
}

//Breack-points
@media (min-height: 800px) {
  .title-main {
    font-size: 50px;
  }
  .pokemon-name {
    font-size: 50px;
  }
  .pokemon-name-list {
    font-size: 35px;
  }
  .info {
    font-size: 25px;
  }
}
@media (min-height: 1100px) {
  .title-main {
    font-size: 70px;
  }
}
@media (min-height: 1300px) {
  .title-main {
    font-size: 80px;
  }
  .pokemon-name {
    font-size: 80px;
  }
  .pokemon-name-list {
    font-size: 60px;
  }
  .info {
    font-size: 45px;
  }
}
@media (min-width: 400px) {
  .input-text {
    padding: 4px;
    width: 100%;
    font-size: 40px;
    font-weight: 300;
    color: var(--gray-strong);
    text-shadow: 2px 1px var(--gray-secondary);
  }
}
@media (min-width: 800px) {
  .pokemon-name-list {
    font-size: 50px;
  }
  .info {
    font-size: 30px;
  }
  .input-text {
    padding: 4px;
    width: 100%;
    font-size: 50px;
    font-weight: 300;
    color: var(--gray-strong);
    text-shadow: 2px 1px var(--gray-secondary);
  }
}
@media (min-width: 1400px) {
  .info {
    font-size: 40px;
  }
}