.z-index-100 {
  z-index: 100;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.w-min-50 {
  min-width: 50px;
}
.w-85per {
  width: 85%;
}
.text-align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.align-self-end {
  align-self: end !important;
}