* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: var(--font-nintendo);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 5px solid white;
  background-color: var(--gray-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid black;
  background: var(--blue-primary);
  border-radius: 3px;
}