@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: nintendo;
  src: url("/src/assets/fonts/nintendo.ttf");
}

:root{
  /* Fonts */
  --font-opensans: 'Open Sans', sans-serif;
  --font-nintendo: nintendo;
  /* Colors */
  --gray: #4E4C4B;
  --square-bg: url('/src/assets/backgrounds/pattern.svg');
}